body{
  background-image: -webkit-radial-gradient(aqua,teal, aqua, blue);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content:center;
  text-align: center;
  align-items: center;
  padding-top: 30px;
}

header {
  text-align: center;
  font-size: 25px;
  color: hsl(206, 17%, 28%);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: lightgray;
}

.card {
  padding-left: 70px;
  padding-right: 70px;
  background-image: linear-gradient(lightgreen, green );
  border-radius: 5px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
}

.card-body {
  display: flex;
  justify-content: center;
}

.card-footer {
  text-align: center;
}

.btn {
  border: none;
  background-color: hsl(206, 17%, 28%);
  border-radius: 25px;
  color: lightcyan;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  width: 100%;
  padding: 20px;
  font-size: 1.2rem;
  text-align: center;
  border: 3px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}  

@media (max-width: 1100px) {
  .wrapper {
    padding-top: 75px;
  }
}
@media (max-width: 690px) {

  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }

}

@media (max-width: 500px) {

  .btn {
    font-size: 0.8rem;
  }

}


